{% extends 'mailer/base.html' %}

{% block content %}
<h2>Рассылка №{{ object.id }}</h2>

<ul class="list-group">
    <li class="list-group-item"><strong>Начало:</strong> {{ object.start_time }}</li>
    <li class="list-group-item"><strong>Окончание:</strong> {{ object.end_time }}</li>
    <li class="list-group-item"><strong>Статус:</strong> {{ object.status }}</li>
    <li class="list-group-item"><strong>Сообщение:</strong> {{ object.message.subject }}</li>
</ul>

<h4 class="mt-3">Получатели:</h4>
<ul>
{% for r in object.recipients.all %}
    <li>{{ r.email }}</li>
{% empty %}
    <li>Нет получателей</li>
{% endfor %}
</ul>

<a class="btn btn-warning" href="{% url 'mailer:mailing_update' object.id %}">Редактировать</a>
<a class="btn btn-danger" href="{% url 'mailer:mailing_delete' object.id %}">Удалить</a>
<a class="btn btn-secondary" href="{% url 'mailer:mailing_list' %}">Назад</a>
{% endblock %}
